.heroSection {
  background-image: url(images/ferrariBackgroun.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: fit-content;
}
nav {
  padding: 10px;
  display: grid;
  margin-bottom: 100px;
  grid-template-columns: 50% 50%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -3px 20px 20px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -3px 20px 20px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -3px 20px 20px 7px rgba(0, 0, 0, 0.7);
}
nav h1 {
  letter-spacing: 5px;
}
.ferrariLogo {
  position: relative;
  left: 50%;
  top: 15%;
  width: fit-content;
  transform: translate(-50%);
  margin-bottom: 30px;
  display: grid;
}
.ferrariLogo h1 {
  color: black;
  font-size: 50px;
}
#ferrari {
  padding-left: 7rem;
  padding-bottom: 3rem;
  width: 500px;
  height: 500px;
}
.readMoreBtn {
  --color: red;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid red;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.readMoreBtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.readMoreBtn:hover {
  color: #fff;
}

.readMoreBtn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.readMoreBtn:hover:before {
  top: -30px;
  left: -30px;
}

.readMoreBtn:active:before {
  background: rgb(183, 2, 2);
  transition: background 0s;
}
.sideBarBtn {
  all: unset;
  width: fit-content;
  height: fit-content;
}
.SideBarCont {
  display: none;
}
.sideBarLinksCont {
  display: none;
  background-color: white;
  padding: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9999;
  height: 100%;
  box-shadow: -200px 0px 51px 300px rgba(0,0,0,0.76);
  -webkit-box-shadow: -200px 0px 51px 300px rgba(0,0,0,0.76);
  -moz-box-shadow: -200px 0px 51px 300px rgba(0,0,0,0.76);
}
.imageCard{
  height: 700px;
  cursor: pointer;
}
.imageCont{
  width: 0;
  background-color: grey;
  height: 100%;
}
.ferrariImageSection{
  opacity: 0;
}
.iamgeTextCont{
  opacity: 0;
}
.imageCardH1{
  font-size: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
  .imageCard{
    height: 600px;
  }
}

@media screen and (min-width: 706px) and (max-width: 767px) {
  .imageCard{
    height: 700px;
  }
}

@media screen and (min-width: 631px) and (max-width: 705px) {
  .navLinkCont {
    display: none !important;
  }
  .SideBarCont {
    display: block;
  }
}

@media screen and (min-width: 531px) and (max-width:630px) {
  .ferrariLogo h1{
    font-size: 40px;
  }
  #ferrari{
    width: 400px;
    height: 400px;
    padding-left: 4rem;
  }
}

@media screen and (min-width: 430px) and (max-width: 530px) {
  .imageCard {
    height: 600px;
  }
  .ferrariLogo h1{
    font-size: 35px;
    justify-self: center;
  }
  #ferrari{
    width: 400px;
    height: 400px;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 361px) and (max-width: 430px) {
  .ferrariLogo h1{
    font-size: 30px;
    justify-self: center;
  }
  #ferrari{
    width: 350px;
    height: 350px;
    padding-left: 1rem;
  }
  .secondSection div {
    height: 400px;
  }
}

@media screen and (max-width: 360px) {
  .imageCard {
    height: 300px;
  }
  .ferrariLogo h1{
    font-size: 30px;
    justify-self: center;
    padding-left: 6rem;
  }
  #ferrari{
    width: 350px;
    height: 350px;
    padding-left: 1rem;
    display: none;
  }
  .heroSection{
    height: 550px;
  }
}

@media screen and (max-width: 705px){
  .navLinkCont {
    display: none !important;
  }
  .SideBarCont {
    display: block;
  }
  .heroSection {
    background-image: url(images/ferrariBackgroundPhone.jpg);
  }
  .ferrariLogo h1{
    color: white;
  }
}